
/* typography */
html {font-size: 100%;} /*16px*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #fff;
}

/* ui, layout */

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #14465C;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}

a, a:focus, a:active {
    color: white;
}

.wrapper {
    max-width: 1280px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}
.wrapper section {
    margin-bottom: 70px;
}

.logo {
    margin-top: 50px;
    margin-bottom: 70px;
}
.logo img {
    width: 100%;
}

.news {
    border: 1px solid #fff;
    padding: 40px;
}
.news *:first-of-type {
    margin-top: 0;
}
.news p:last-of-type {
    margin-bottom: 0;
}

.cajitas .cajita img {
    display: none;
    width: 100%;
}
.cajitas .cajita img.show {
    display: inline-block;
}
.cajitas .cajita p {
    margin-top: 0;
}

section.inbetween {
    margin-top: 90px;
    margin-bottom: 180px;
}

.totem img {
    width: 100%;
}

.about p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.about img {
    width: 100%;
    max-width: 800px;
}